<form name="loginForm" class="col-md-3" ng-submit="loginForm.$valid && login()" novalidate>
  <h2>Вход</h2>
  <div class="form-group text-right" ng-class="{'has-success': loginForm.$valid, 'has-error': loginForm.$invalid}">
    <input class="form-control" name="userName" ng-model="username" type="text" placeholder="Имя пользователя" required>
    <input class="form-control" name="password" ng-model="password" type="text" placeholder="Пароль" required>
    <button class="btn btn-primary" type="submit">Войти</button>
  </div>
</form>